h1,h3,.list{
	color: orange;

}
h4,center{
	color: cyan;
}
a{
	color: green;
}
.button {
	background-color: white; 
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 9px;
}
.button{
	font-size : 30px;
	color : black
}
.about_me{
	font-size : 25px;

}
div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 1000px;
}

.projects,.kwoc,.contact_me{
	padding: 15px;
	font-size: 15px;
}

.extra,.project_desc,.Utlyz-CLI,.Encrypt,.Attendance-Manager,.Robo,.kwoc_desc,.contact_desc{
	font-size: 25px;
}

div.thanks{
	font-size: 40px;
	color: skyblue;
	text-align: center;
}
